@font-face {
  src: url(../fonts/CutiveMono-Regular.ttf);
  font-family: "Cutive Mono", monospace;
}

/*---------Cutive Mono---------*/

/*---------Jura---------*/

@font-face {
  src: url(../fonts/FjordOne-Regular.ttf);
  font-family: "Fjord One", serif;
}

/*---------Muli----------------------*/

@font-face {
  src: url(../fonts/Muli-Light.ttf);
  font-family: "MuliLight";
}

/*-------------------------------*/
@font-face {
  src: url(../fonts/BungeeHairline-Regular.ttf);
  font-family: "BungeeHairline";
}

/*-------------------------------*/
@font-face {
  src: url(../fonts/Roboto-Light.ttf);
  font-family: "Roboto-Light";
}
@font-face {
  src: url(../fonts/Roboto-Regular.ttf);
  font-family: "Roboto-Regular";
}

/*---------'Arimo----------------------*/
@font-face {
  src: url(../fonts/Arimo-Regular.ttf);
  font-family: "Arimo-Regular";
}

@font-face {
  src: url(../fonts/Arimo-Bold.ttf);
  font-family: "Arimo";
}

/*---------FrankRuhlLibre----------------------*/
@font-face {
  src: url(../fonts/FrankRuhlLibre-Black.ttf);
  font-family: "FrankRuhlLibre";
}


/*---------OpenSans----------------------*/

@font-face {
  src: url(../fonts/OpenSans-Regular.ttf);
  font-family: "OpenSans-Regular";
}

/*---------Ubuntu----------------------*/

@font-face {
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-family: "Ubuntu-Regular";
}
